main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.nav {
    background-color: orange;
}

.navbarcheckout {
    border: 2px solid orange;
    align-items: center;
    border-radius: 20px;
    background: none;
    font-size: 14px;
    font-weight: 600;
}

.rating span {
    margin: 0.1rem;
    font-size: 12px;
}